[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marshmallow-dataclass = "*"
aws-lambda-typing = "*"
boto3 = "*"
boto3-type-annotations = "*"

[dev-packages]

[requires]
python_version = "3.8"
